body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .bk_img {
    background-image: url(images/sky.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
} */
.line1 {
    width: 100%;
    height: 1px;
    clear: both;
}

.top {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #ffffff;
    /* opacity: 0.5; */
}

.logo {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    background-image: url(images/logo.png);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.logo_img {
    width: 100%;
}

.mem1 {
    width: 100%;
    color: #c8c7c7;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.mem {
    width: 100%;
    color: #333333;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}

.mem ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.mem li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: 40px;
}

.mem li .tt {
    float: left;
    width: 110px;
    height: 40px;
    line-height: 40px;
    /* font-weight: bold; */
    text-align: left;
}



.mem li .tx {
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    color: #c8c7c7;
    text-align: center;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.drone_image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.9;
}

.drone_video {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

    /* 当浏览器宽度小于等于600px时应用以下样式 */
    .container {
        padding: 10px;
    }

    .body {
        background-image: url('');
    }

    .bk_img {
        background-image: url('');
    }


    .top {
        opacity: 1;
    }

    .drone-image {
        opacity: 1;
    }

    .box {
        height: 50px;
    }
}